[tool.black]
skip-string-normalization = true

[tool.setuptools_scm]

[pytest.enabler.black]
#addopts = "--black"

[pytest.enabler.mypy]
#addopts = "--mypy"

[pytest.enabler.flake8]
addopts = "--flake8"

[pytest.enabler.cov]
addopts = "--cov"

[pytest.enabler.xdist]
addopts = "-n auto"
